.top{
  background-image: url('../images/bg_image.jpg');
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden;
  background-size:cover;

}

.topContent{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color: #1f1a37;
  opacity: 0.85;
}
.mainPage{
  background-color: #1f1a37;
  height: 935px;
}

.mainHeader{
  margin-top: 45px;
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
  /* Do sprawdzenia marignesy */
  align-items: center;
}
.moreIcon{
    height: 29px;
}
.headerText{
/* border: 1px solid white; */
display: flex;
flex-direction: column;
align-items: center;

}
.album{
  font-size: 18px;

color: #6f729c;
/* font-family: "Gilroy"; */
font-weight: 300;
text-align: center;
margin:0;
padding: 0;
}
.albumTitle{
font-size: 24px;
/* line-height: 36px; */
color: #ffffff;
/* font-family: "Gilroy"; */
font-weight: 300;
margin:0;
padding: 0;

}



.slider{
  /* border: 5px solid yellow; */
  width: 100%;
  margin-top: -160px;
}



.shuffleIcon{
  position: absolute;
  width: 26px;
  height: 26px;
  left: 50px;
  top:710px;
}

.repeatIcon{
  width: 26px;
  height: 26px;
  position: absolute;
  right: 50px;
  top:710px;
}
.playIcon{
  position: absolute;
  left: 206px;
  top:635px;
  width: 164px;
  height: 164px;
}
