.top {
  background-image: url('../images/bg_image.jpg');
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden;
  background-size: cover;
}

.topContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f1a37;
  opacity: 0.85;
}

.mainPage {
  background-color: #1f1a37;
  height: 935px;
}

.mainHeader {
  margin-top: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.moreIcon {
  height: 29px;
}

.headerText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album {
  font-size: 18px;
  color: #6f729c;
  /* font-family: "Gilroy"; */
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0;
}

.albumTitle {
  font-size: 24px;
  /* line-height: 36px; */
  color: #ffffff;
  /* font-family: "Gilroy"; */
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.brandLogoImg {
  width: 30px;
  height: 30px;
  background-size: cover;
}

.brandLogo {
  position: absolute;
  background-color: #1f1a37;
  top: 280px;
  left: 245px;
  z-index: 2;
  border: 5px solid #755dd5;
  width: 72px;
  height: 72px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addPrevSong, .addNextSong {
  width: 130px;
  height: 130px;
  background-size: cover;
}

.addicionalSliderImages {
  position: absolute;
  margin-top: -60px;
  width: 100%;
}

.addPrevSong {
  position: absolute;
  object-fit: cover;
  width: 65px;
  object-position: 100% 0;
}

.addNextSong {
  position: absolute;
  object-fit: cover;
  width: 65px;
  object-position: 0 0;
  right: 0;
}

.slider {
  width: 100%;
  margin-top: -160px;
}

.shuffleIcon {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 50px;
  top: 710px;
  z-index: 2;
}
.shuffleIcon:hover{
  opacity: .5;
}

.repeatIcon {
  width: 26px;
  height: 26px;
  position: absolute;
  right: 50px;
  top: 710px;
  z-index: 2;
}

.playIcon {
  position: absolute;
  left: 206px;
  top: 635px;
  width: 164px;
  height: 164px;
}
