.header {
  background-image: url('../images/bg_image.jpg');
  position: relative;
  width: 100%;
  height: 131px;
  overflow: hidden;
}

.headerContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f1a37;
  opacity: 0.85;
  display: flex;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.headerLeftText {
  margin-left: 60px;
}

.headerRight {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.title {
  font-size: 20px;
  color: white;
  font-weight: bold;
  opacity: 1;
  padding: 0;
  margin: 0;
}

.author {
  color: #6f729c;
  font-size: 18px;
  text-transform: uppercase;
  opacity: 1;
  padding: 0;
  margin: 0;
}

.backIcon {
  height: 30px;
}

.playIconPlaylist {
  height: 70px;
  width: 70px;
}

.songsList {
  position: relative;
  margin-top: 10px;
  margin-left: 65px;
  margin-right: 65px;
  width: auto;
  top: 13%;
  padding: 0;
}

.songsList:after {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top,
      rgba(255, 255, 255, 1) 2%,
      rgba(255, 255, 255, 0) 60%);
  pointr-events: none;
}

.songsListElement {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  line-height: 64px;
  color: #1b1b1b;
  font-weight: 300;
  padding: 0;
  margin: 0;
  /* font-family: "Gilroy"; */
}

.songNumber {
  font-size: 18px;
  line-height: 64px;
  color: #6f729c;
  /* font-family: "Gilroy"; */
  font-weight: 300;
  margin-right: 30px;
}

.dots {
  display: flex;
  flex-grow: 2;
  border-bottom: 3px dotted #6f729c;
  height: 18px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.shuffleButton {
  width: 448px;
  height: 59px;
  border-radius: 30px;
  background-color: #755dd5;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  margin-bottom: 30px;
}

.hideIcon {
  width: 29px;
  height: 16px;
  border-radius: 13px;
  margin-bottom: 30px;
}
