.timeProgressBar {
  position: absolute;
  bottom: 194px;
  width: 100%;
}

.progress-bar {
  position: relative;
  margin: 20px;
  height: 1px;
  width: 380px;
  border-radius: 50px;
  background-color: #00c9b7;
}

.filler {
  position: relative;
  top: -2px;
  background: #00c9b7;
  height: 5px;
  border-radius: inherit;
  transition: width 1.s ease-in;
}


.timeProgress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px 0 50px;
}

.playPauseIcon {
  background: none;
  width: 164px;
  height: 164px;
  border: none;
  display: flex;
  justify-content: center;
  margin-left: 206px;
}

.leftTime, .fullTime {
  font-size: 18px;
  line-height: 36px;
  color: #6f729c;
  /* font-family: "Gilroy"; */
  font-weight: 300;
}

.playIconImg {
  object-fit: fill;
  width: 164px;
  height: 164px;
}
.playIconImg:hover{
   transform: scale(1.5,1.5);
}
.pauseIconImg {
  object-fit: fill;
  width: 164px;
  height: 164px;
}
.pauseIconImg:hover{
   transform: scale(0.75,0.75);
}
